.thd {
  margin-bottom: 45px;
  width: 100%;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.thd span {
  color:var(--font-black);
}

.epls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95% !important;
  min-height: 70vh;
  margin-bottom: 30px;
}

.filter-btn {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

.all-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  padding: 0 !important;
  cursor: pointer;
}

.all-btn span {
  width: 100%;
  display: block;
  text-align: left;
  color: #D4A838;
  font-size: 18px;
  margin-bottom: 7px;
  margin-left: 0px !important;
}

.all-btn div {
  background-color: #D4A838;
  height: 2px;
  width: 100%;
}

.f-sh {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  height: 70px;
  margin-bottom: 36px;
}

.tf {
  width: 65%;
  height: 30px;
}

.tf input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid silver;
  background-color: var(--input-bg);
  outline: none;
  color:var(--font-black);
}

.dpdn {
  flex-grow: 1;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  height: 100%;
  padding: 0px 15px;
  font-weight: bold;
}

.dpdn div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dpdn div span {
  display: block;
  margin-bottom: 7px;
  color:var(--font-black);
}

.dpdn div select {
  padding: 3px;
  width: 120px;
  border: none;
  border: 1px solid silver;
  outline: none;
  cursor: pointer;
  height: 30px;
  padding: 0px 10px;
  background-color: var(--input-bg);
  color: black;
}

.all-pools-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
}

.pool-wrapper {
  margin-bottom: 20px;
  width: 235px;
  margin: 15px;
  padding: 35px 20px 15px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--l-c-l-bg);
}

.dt1 {
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-bottom: 4px;
  color: black;
}

.dt2 {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color:  var(--list-font);
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-bottom: 15px;
}

.dt3 {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-bottom: 15px;
}

.blue-bt {
  color: var(--list-font) !important;
  margin-bottom: 15px !important;
}

.otb {
  margin-bottom: 10px !important;
}

.prs{
  color: black;
}

.prgbar {
  margin-bottom: 10px !important;
  width: 100%;
  height: 5px;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.prld {
  background-color: #36e39b;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.prgv {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 10px !important;
}

.prgv span {
  color:  var(--list-font) !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.pl-dt {
  width: 100%;
  margin-bottom: 30px !important;
}

.pl-dt li {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  font-weight: bold;
  padding: 3px 0px;
}

.pldtr {
  color: rgb(61, 61, 61);
}

.pl-dt li span {
  font-size: 15px !important;
  color: var(--font-black);
}

.pl-dt li span.pldtr{
  color: var(--list-font);
}
.btm-it {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.btm-it span {
  font-size: 13px !important;
}

.btm-it span.vpl {
  padding: 5px 10px;
  display: inline-block;
  background-color: #e9f3f9;
  color: #D4A838;
  font-weight: bold !important;
  border-radius: 15px;
  cursor: pointer;
}

span.vmp {
    margin-top: 20px;
    color: #D4A838;
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:900px) {
  .thd span {
    font-size: 28px;
  }

  .all-btn span {
    font-size: 15px;
  }

  .all-btn  {
    margin-bottom: 20px;
  }
  
  .f-sh{
    flex-direction: column !important;
    height: fit-content;
    width: 100%;
  }

  .tf {
    width: 100%;
    margin-bottom: 25px;
  }

  .dpdn {
    width: 100%;
  }

  .dpdn div span{
    font-size: 16px;
  }
}