.adminpools {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.adminpools span.hdt {
  color: var(--font-black);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 35px;
}

.adpwrp {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.adpwrp .p {
  padding: 0px 20px;
  width: 100%;
  height: 70px;
  background-color: var(--card-light-bg);
  margin-bottom: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  min-width: 340px !important;
}

.adpwrp .p .pool-name,
.adpwrp .p .bgbt {
  font-weight: bold;
  text-align: left !important;
  width: 45%;
}

.adpwrp .p .status {
  padding: 6px 10px;
  background-color: #00bbc9;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}

.adpwrp .p .pool-name {
  font-size: 12px;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  color: var(--font-black);
  width: 30%;
}

.adpwrp .bgbt {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.adpwrp .pr-btn {
  padding: 6px 8px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.adpwrp .au {
  background-color: #f3ba2f;
}

.adpwrp .kyc {
  background-color: #5fbe91;
}

.adpwrp .vw {
  background-color: #00087e;
  border-radius: 4px !important;
  text-decoration: none !important;
}

.bgbt {
 width: 230px;
}

@media only screen and (max-width: 690px) {
  .adpwrp .pr-btn, .adpwrp .p .status {
    padding: 5px 6px;
    font-size: 11px;
  }

  .bgbt {
    width: 160px;
  }
}

@media only screen and (max-width: 570px) {
  .bgbt{

    min-width: 180px !important;
  }
}
  @media only screen and (max-width: 470px) {
   .status{
        margin-right: 5px;
    }

    .pool-name {
        margin-right: 5px;
    }
  }

.adpl {
  text-decoration: none;
} 
